In [150]:
import pandas as pd

In [151]:
file_name = "High_Curriculum.csv"
df = pd.read_csv(file_name)
df.head(2)

,제목,출판사,교육과정,Lesson,Title,Goal,Functions (의사소통기능),Structures (언어 형식),Functions Material 1,Functions Material 2,Unnamed: 10
0,영어,능률(김),2015,1,The Part You Play,NaN,• 의도 표현하기\nI’m going to call and tell my frien...,• 전치사의 목적어로서의 동명사\nInstead of running straight...,[DESCRIPTION]\r\n\r\nbe going to ()를 활용해 의도 표현...,[DESCRIPTION]\r\n\r\nshould를 활용해 도덕적 의무 표현하기.\...,NaN
1,영어,능률(김),2015,2,The Power of Creativity,NaN,• 가능성 정도 표현하기\nMaybe that will make it easier ...,• 명사를 수식하는 과거분사(구)\nThe giant pictures made fr...,[DESCRIPTION]\n\n부사 maybe를 활용해서 가능성의 정도를 표현하기\...,[DESCRIPTION]\n\nIt seems to me that ()의 구조를 활...,NaN

In [152]:
len(df)

167

In [153]:
df['Splitted Structures'] = df['Structures (언어 형식)'].str.split("\n")

def split_structures(struct_list):
    if len(struct_list) >=4:
        structure_1 = "\n".join(struct_list[:3]).strip()
        structure_2 = "\n".join(struct_list[3:]).strip()
    else:
        structure_1 = "\n".join(struct_list).strip()
        structure_2 = ""
    return pd.Series([structure_1, structure_2])

In [154]:
df[["Structure 1", "Structure 2"]] = df["Splitted Structures"].apply(split_structures)

In [155]:
df['Structure 1'][137]

'• 수동태\nThe hat was worn by the yangban.\nThe hat was shipped to Panama.'

In [156]:
df['Structure 2'][137]

''

In [157]:
df.columns

Index(['제목', '출판사', '교육과정', 'Lesson', 'Title', 'Goal', 'Functions (의사소통기능)',
       'Structures (언어 형식)', 'Functions Material 1', 'Functions Material 2',
       'Unnamed: 10', 'Splitted Structures', 'Structure 1', 'Structure 2'],
      dtype='object')

In [158]:
drop_col = ['Goal', 'Functions (의사소통기능)','Structures (언어 형식)', 'Functions Material 1', 'Functions Material 2','Unnamed: 10', 'Splitted Structures']
df.drop(columns=drop_col, inplace=True)
df.head(3)

,제목,출판사,교육과정,Lesson,Title,Structure 1,Structure 2
0,영어,능률(김),2015,1,The Part You Play,• 전치사의 목적어로서의 동명사\nInstead of running straight...,• 진주어 to부정사와 의미상의 주어\nIt is difficult for him ...
1,영어,능률(김),2015,2,The Power of Creativity,• 명사를 수식하는 과거분사(구)\nThe giant pictures made fr...,• 주격 관계대명사\nThe German government showed us an...
2,영어,능률(김),2015,3,Sound Life,"• 사역동사+목적어+동사원형\nHas a painting, a movie, or a...",• 관계대명사 what\nThis is what makes you special.

In [159]:
df = pd.melt(df,
             id_vars=['제목', '출판사', '교육과정', 'Lesson', 'Title'],
             value_vars=['Structure 1', 'Structure 2'],
             var_name='Structure Material',
             value_name='Structure')
display(df)

,제목,출판사,교육과정,Lesson,Title,Structure Material,Structure
0,영어,능률(김),2015,1,The Part You Play,Structure 1,• 전치사의 목적어로서의 동명사\nInstead of running straight...
1,영어,능률(김),2015,2,The Power of Creativity,Structure 1,• 명사를 수식하는 과거분사(구)\nThe giant pictures made fr...
2,영어,능률(김),2015,3,Sound Life,Structure 1,"• 사역동사+목적어+동사원형\nHas a painting, a movie, or a..."
3,영어,능률(김),2015,4,Toward a Better World,Structure 1,• 관계부사\nI am so glad that this family now has ...
4,영어,능률(김),2015,5,What Matters Most,Structure 1,"• 분사구문\nReaching the hermit’s hut, the king fo..."
...,...,...,...,...,...,...,...
329,영어 II,천재(이),2015,2,Discover Cultures Around the World,Structure 2,• 관계부사\nThat is why Ifrane is often referred t...
330,영어 II,천재(이),2015,3,Future of Money,Structure 2,• 동명사의 관용적 표현\nShe had trouble following my in...
331,영어 II,천재(이),2015,4,Bring Literature\r\ninto Your Life,Structure 2,• 접속사 if\nHe wondered if he should take back t...
332,영어 II,천재(이),2015,5,ICT in Our Lives,Structure 2,• 접속사 while\nThe amount of food produced can b...
333,영어 II,천재(이),2015,6,Reach Beyond\r\nOurselves,Structure 2,• 병렬 구조\nThe time has now come for the nation ...

In [160]:
df['Structure Material'].value_counts()

Structure Material
Structure 1    167
Structure 2    167
Name: count, dtype: int64

In [161]:
len(df)

334

In [162]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [제목, 출판사, 교육과정, Lesson, Title, Structure Material, Structure]
Index: []

In [163]:
df = df[df['Structure'] != ""]
len(df)

329

In [164]:
df = df.reset_index(drop=True)

In [165]:
df.drop(columns=['Structure Material'],inplace=True)
df.head(3)

,제목,출판사,교육과정,Lesson,Title,Structure
0,영어,능률(김),2015,1,The Part You Play,• 전치사의 목적어로서의 동명사\nInstead of running straight...
1,영어,능률(김),2015,2,The Power of Creativity,• 명사를 수식하는 과거분사(구)\nThe giant pictures made fr...
2,영어,능률(김),2015,3,Sound Life,"• 사역동사+목적어+동사원형\nHas a painting, a movie, or a..."

In [167]:
df.to_csv("DB_Structure.csv", encoding="utf-8-sig")