## TEXT ID

In [212]:
import pandas as pd

id = pd.read_csv("Text_High_ID.csv")
df = pd.read_csv("Final_High_Curriculum.csv")

In [213]:
id.head(3)

,textbook ID,구분,학년 정보,개정 정보,출판사,과목명,교과서 확보,어휘 자료,function,structure,Issue
0,1001.0,고등,고1,2022,YBM,공통영어 1(김은형),NaN,NaN,NaN,NaN,NaN
1,1002.0,고등,고1,2022,YBM,공통영어 2(김은형),NaN,NaN,NaN,NaN,NaN
2,1003.0,고등,고1,2022,YBM,공통영어 1(박준언),NaN,NaN,NaN,NaN,NaN

In [214]:
id.columns

Index(['textbook ID', '구분', '학년 정보', '개정 정보', '출판사', '과목명', '교과서 확보', '어휘 자료',
       'function', 'structure', 'Issue'],
      dtype='object')

In [215]:
print(df.columns)
df_drop = ["textbook ID"]
df.drop(columns=df_drop, axis=1, inplace=True)

Index(['textbook ID', '제목', '출판사', '교육과정', 'Lesson', '구분', 'Title',
       'DESCRIPTION', 'Key Expression (영어)', 'Key Expression (한국어)',
       'Sub Expression (영어)', 'Sub Expression (한국어)', '학습목표', 'Quiz 1',
       'Korean 1', 'Option 1-1', 'Option 1-2', 'Option 1-3', 'Answer 1',
       'Index 1', 'Quiz 2', 'Korean 2', 'Option 2-1', 'Option 2-2',
       'Option 2-3', 'Answer 2', 'Index 2', '샘플 스크립트 (영어)', '샘플 스크립트 (한국어)'],
      dtype='object')

In [216]:
df.head(1)

,제목,출판사,교육과정,Lesson,구분,Title,DESCRIPTION,Key Expression (영어),Key Expression (한국어),Sub Expression (영어),...,Index 1,Quiz 2,Korean 2,Option 2-1,Option 2-2,Option 2-3,Answer 2,Index 2,샘플 스크립트 (영어),샘플 스크립트 (한국어)
0,영어,능률(김),2015,1,function,The Part You Play,be going to ~를 활용해 의도 표현하기.,I’m going to write a letter to explain my conc...,제 걱정을 분명하게 설명하기 위해 편지를 쓰려고 해요.,I plan to ~ in order to express my intentions....,...,2,I ___ in order to express my intentions.,나는 나의 의도를 표현하기 위해 그렇게 할 거야.,intending to,plan to,going to,plan to,2,A: I’m going to study for the upcoming exam. B...,A: 다가오는 시험을 위해 공부할 거야. B: 그거 좋은 계획이야! A: 오늘 밤 ...

In [217]:
id.isna().any()

textbook ID     True
구분             False
학년 정보           True
개정 정보          False
출판사            False
과목명            False
교과서 확보          True
어휘 자료           True
function        True
structure       True
Issue           True
dtype: bool

In [218]:
drop_col = ['구분', '학년 정보', '교과서 확보', '어휘 자료','function', 'structure', 'Issue']
id.drop(columns=drop_col, axis=1, inplace=True)
id.rename(columns={
    "과목명" : "제목",
    "개정 정보" : "교육과정"
}, inplace=True)
id.head()

   textbook ID  교육과정  출판사           제목
0       1001.0  2022  YBM  공통영어 1(김은형)
1       1002.0  2022  YBM  공통영어 2(김은형)
2       1003.0  2022  YBM  공통영어 1(박준언)
3       1004.0  2022  YBM  공통영어 2(박준언)
4       1005.0  2022   동아  공통영어 1(이병민)

# 새로운 칼럼 생성

In [219]:
df['출판사'] = df['출판사'].replace("비상", "비상(홍)")
df['제목'] = df['제목'].replace("영어1", "영어 1")

In [220]:
df['common columns'] = df['교육과정'].astype(str) + "-" + df['제목'].astype(str) + "-" + df['출판사'].astype(str)
df.head(1)

,제목,출판사,교육과정,Lesson,구분,Title,DESCRIPTION,Key Expression (영어),Key Expression (한국어),Sub Expression (영어),...,Quiz 2,Korean 2,Option 2-1,Option 2-2,Option 2-3,Answer 2,Index 2,샘플 스크립트 (영어),샘플 스크립트 (한국어),common columns
0,영어,능률(김),2015,1,function,The Part You Play,be going to ~를 활용해 의도 표현하기.,I’m going to write a letter to explain my conc...,제 걱정을 분명하게 설명하기 위해 편지를 쓰려고 해요.,I plan to ~ in order to express my intentions....,...,I ___ in order to express my intentions.,나는 나의 의도를 표현하기 위해 그렇게 할 거야.,intending to,plan to,going to,plan to,2,A: I’m going to study for the upcoming exam. B...,A: 다가오는 시험을 위해 공부할 거야. B: 그거 좋은 계획이야! A: 오늘 밤 ...,2015-영어-능률(김)

# 포맷팅 작업

In [221]:
type(id['교육과정'][0])

numpy.int64

In [222]:
def formatting(subject:str, publisher:str, year:int) -> str:
    if "(" in subject and ")" in subject: # 저자 이름이 있는 경우만 처리
        parts = subject.split("(") # 괄호 기준으로 나눔
        subject_format = parts[0].strip() # 제목 이름
        author_name = "(" + parts[1][0] + ")"
        publisher_format = publisher + author_name
        return f"{str(year)}-{subject_format}-{publisher_format}"
    return subject, publisher

In [223]:
id['common columns'] = id.apply(lambda row: formatting(row['제목'], row["출판사"], row['교육과정']), axis=1)

In [224]:
id.head()

   textbook ID  교육과정  출판사           제목      common columns
0       1001.0  2022  YBM  공통영어 1(김은형)  2022-공통영어 1-YBM(김)
1       1002.0  2022  YBM  공통영어 2(김은형)  2022-공통영어 2-YBM(김)
2       1003.0  2022  YBM  공통영어 1(박준언)  2022-공통영어 1-YBM(박)
3       1004.0  2022  YBM  공통영어 2(박준언)  2022-공통영어 2-YBM(박)
4       1005.0  2022   동아  공통영어 1(이병민)   2022-공통영어 1-동아(이)

In [225]:
df['출판사'].value_counts()

출판사
YBM(박)    120
YBM(한)     80
비상(홍)      80
천재(이)      80
능률(김)      72
동아(이)      48
동아(권)      48
능률(양)      32
천재(김)      32
YBM(김)     24
동아(박)      24
천재(강)      15
Name: count, dtype: int64

In [226]:
merged_df = df.merge(id[['textbook ID','common columns']], on = 'common columns', how = 'left')
merged_df.head(1)

,제목,출판사,교육과정,Lesson,구분,Title,DESCRIPTION,Key Expression (영어),Key Expression (한국어),Sub Expression (영어),...,Korean 2,Option 2-1,Option 2-2,Option 2-3,Answer 2,Index 2,샘플 스크립트 (영어),샘플 스크립트 (한국어),common columns,textbook ID
0,영어,능률(김),2015,1,function,The Part You Play,be going to ~를 활용해 의도 표현하기.,I’m going to write a letter to explain my conc...,제 걱정을 분명하게 설명하기 위해 편지를 쓰려고 해요.,I plan to ~ in order to express my intentions....,...,나는 나의 의도를 표현하기 위해 그렇게 할 거야.,intending to,plan to,going to,plan to,2,A: I’m going to study for the upcoming exam. B...,A: 다가오는 시험을 위해 공부할 거야. B: 그거 좋은 계획이야! A: 오늘 밤 ...,2015-영어-능률(김),1009.0

In [227]:
merged_df['textbook ID'] = merged_df['textbook ID'].astype("Int64")
# merged_df['textbook ID'].value_counts()
merged_df.isna().sum()

제목                       0
출판사                      0
교육과정                     0
Lesson                   0
구분                       0
Title                    0
DESCRIPTION              0
Key Expression (영어)      0
Key Expression (한국어)     0
Sub Expression (영어)      0
Sub Expression (한국어)     0
학습목표                     0
Quiz 1                   0
Korean 1                 0
Option 1-1               0
Option 1-2               1
Option 1-3               0
Answer 1                 1
Index 1                  0
Quiz 2                   0
Korean 2                 0
Option 2-1               0
Option 2-2               0
Option 2-3               0
Answer 2                 0
Index 2                  0
샘플 스크립트 (영어)             0
샘플 스크립트 (한국어)            0
common columns           0
textbook ID             15
dtype: int64

In [228]:
na_textbook_id_rows = merged_df[merged_df["textbook ID"].isna()]

# 결과 출력
print(na_textbook_id_rows)

       제목    출판사  교육과정  Lesson         구분                      Title  \
134  기본영어  천재(강)  2015       1   function  Cheers to Your New Start!
135  기본영어  천재(강)  2015       2   function       Animals in Our Lives
136  기본영어  천재(강)  2015       3   function      Our Earth, Our Choice
137  기본영어  천재(강)  2015       4   function          All Eyes on Korea
138  기본영어  천재(강)  2015       5   function    Living in a Digital Era
293  기본영어  천재(강)  2015       1   function  Cheers to Your New Start!
294  기본영어  천재(강)  2015       2   function       Animals in Our Lives
295  기본영어  천재(강)  2015       3   function      Our Earth, Our Choice
296  기본영어  천재(강)  2015       4   function          All Eyes on Korea
297  기본영어  천재(강)  2015       5   function    Living in a Digital Era
460  기본영어  천재(강)  2015       1  structure  Cheers to Your New Start!
461  기본영어  천재(강)  2015       2  structure       Animals in Our Lives
462  기본영어  천재(강)  2015       3  structure      Our Earth, Our Choice
463  기본문어  천재(강)  2015       4  structure          All Eyes on Korea
464  기본영어  천재(강)  2015       5  structure    Living in a Digital Era

                               DESCRIPTION  \
134        "How do you feel?"을 활용해 기분 묻기.
135            How amazing! 을 활용해 감탄 표현하기.
136  Have you heard that ~을 활용해 알고 있는지 묻기.
137        I can’t wait to ~을 활용해 기대 표현하기.
138        Do you mean ~을 활용해 상대의 말을 확인하기.
293     I’m worried about ~을 활용해 걱정을 표현하기.
294          Is it okay to ~을 활용해 허락 요청하기.
295              Why don’t we ~을 활용해 제안하기.
296              I wonder ~을 활용해 궁금증 표현하기.
297       Make sure you ~을 활용해 주의 사항 당부하기.
460                                    동명사
461                                  간접의문문
462                           비교급과 비교급의 강조
463                                    수동태
464                          목적격 관계대명사와 생략

                                   Key Expression (영어)  \
134             How do you feel about the new project?
135                     How amazing this sunset looks!
136       Have you heard that the event was postponed?
137               I can’t wait to watch the new movie.
138          Do you mean we need to submit this today?
293                 I’m worried about tomorrow’s exam.
294                   Is it okay to leave early today?
295           Why don’t we go for a walk after dinner?
296                    I wonder what will happen next.
297        Make sure you lock the door before leaving.
460         Starting new hobbies boosts my confidence.
461       I want to know where the nearest shelter is.
462  Organic fruits are much fresher than imported ...
463  The traditional food was appreciated by the gu...
464            I found the phone you lost at the park.

              Key Expression (한국어)  \
134             새 프로젝트에 대해 어떻게 느껴?
135                   이 노을 정말 멋지다!
136               그 행사가 연기된 거 들었어?
137             나는 새 영화를 빨리 보고 싶어.
138             오늘까지 제출해야 한다는 말이야?
293                 나는 내일 시험이 걱정돼.
294                 오늘 일찍 가도 괜찮을까?
295               저녁 먹고 산책하는 게 어때?
296            다음에 무슨 일이 일어날지 궁금해.
297                 나가기 전에 문 꼭 잠가.
460    새로운 취미를 시작하는 것은 내 자신감을 높여요.
461  나는 가장 가까운 보호소가 어디 있는지 알고 싶어요.
462       유기농 과일은 수입 과일보다 훨씬 신선해요.
463         전통 음식은 손님들에게 감사를 받았어요.
464         너가 공원에서 잃어버린 전화를 찾았어요.

                                   Sub Expression (영어)  ...  \
134  What’s your take on ~? What’s your mood regard...  ...
135          That’s incredible! I can’t believe how ~!  ...
136         Did you know that ~? Are you aware that ~?  ...
137     I’m looking forward to ~. I’m excited about ~.  ...
138              Are you saying ~? So you mean that ~?  ...
293      I’m concerned about ~. I feel uneasy about ~.  ...
294        Would it be fine if I ~? Am I allowed to ~?  ...
295                  How about ~? Would you like to ~?  ...
296             I’m curious about ~. I want to know ~.  ...
297                   Don’t forget to ~. Be sure to ~.  ...
460  Learning painting relaxes my mind. Traveling b...  ...
461  They asked why the cat was hiding. We wondered...  ...
462  Solar panels are more efficient than tradition...  ...
463  The performance was celebrated by the crowd. T...  ...
464  She wore the dress you admired at the party. T...  ...

                           Korean 2         Option 2-1        Option 2-2  \
134      신규 프로젝트에 대해 당신의 의견은 무엇인가요?               mood              take
135        정말 대단해! 믿을 수 없을 정도로 놀라워!         impossible          ordinary
136         이벤트가 연기되었다는 사실을 알고 있었니?              learn              know
137                  피크닉을 기대하고 있어요.        waiting for     excited about
138         그러니까 당신은 그렇게 의미한다는 건가요?              think              mean
293                 시험에 대해 걱정하고 있어.          confident         concerned
294               내가 일찍 퇴근해도 괜찮을까요?          eat lunch       leave early
295            저녁 식사 후 산책하는 건 어떨까요?        do homework     go for a walk
296               나는 그 이야기에 대해 궁금해.          surprised           curious
297                  잊지 말고 문을 꼭 잠가.      lock the door   unlock the door
460     그림 그리기를 배우는 것이 마음을 편안하게 해요.  Learning painting  Learned painting
461       그들은 고양이가 왜 숨어 있었는지 물어봤어요.                why               how
462  태양 전지판은 전통적인 에너지 원보다 더 효율적이에요.     more efficient         efficient
463               공연은 관중들에게 축하받았어요.         celebrated         celebrate
464     그녀는 파티에서 당신이 감탄한 드레스를 입었어요.            admired            admire

          Option 2-3           Answer 2 Index 2  \
134             idea               take       2
135          amazing            amazing       3
136             hear               know       2
137  looking forward    looking forward       3
138              say               mean       2
293       interested          concerned       2
294          come in        leave early       2
295       have lunch      go for a walk       2
296           amazed            curious       2
297    open the door      lock the door       1
460   Learn painting  Learning painting       1
461             when                why       1
462   most efficient     more efficient       1
463      celebrating         celebrated       1
464         admiring            admired       1

                                          샘플 스크립트 (영어)  \
134  A: How do you feel about today's meeting? B: I...
135  A: How amazing this mountain view is! B: Absol...
136  A: Have you heard that the meeting has been de...
137  A: I can't wait to try the new restaurant. B: ...
138  A: Do you mean we should finish our homework t...
293  A: I'm worried about the upcoming exam. B: I u...
294  A: May I finish work a bit earlier today? B: T...
295  A: Why don't we try cycling after dinner? B: T...
296  A: I wonder what will happen in the match. B: ...
297  A: Make sure you lock up the door before leavi...
460  A: Cycling around the park boosts my energy. B...
461  A: Can you tell me where the museum is? B: I w...
462  A: This laptop is much thinner than the deskto...
463  A: Was the letter delivered by the postman? B:...
464  A: I sent the letter you drafted last week. B:...

                                         샘플 스크립트 (한국어)   common columns  \
134  A: 오늘 회의에 대해 어떻게 느끼세요? B: 꽤 낙관적이에요. A: 최근 변화에 ...  2015-기본영어-천재(강)
135  A: 이 산의 경치는 정말 놀랍네! B: 정말 숨막히게 아름다워! A: 믿어지지 않...  2015-기본영어-천재(강)
136  A: 회의가 연기되었다는 말을 들었어? B: 응, 방금 소식을 들었어. A: 워크샵...  2015-기본영어-천재(강)
137  A: 새로운 식당에 가는 것이 너무 기대돼. B: 정말 신나겠다! A: 그리고 주말...  2015-기본영어-천재(강)
138  A: 오늘 밤에 숙제를 끝내야 한다는 뜻인가요? B: 네, 맞아요. A: 일찍 집에...  2015-기본영어-천재(강)
293  A: 내일 시험 때문에 걱정돼. B: 네 마음 이해해. A: 준비에 대해 걱정해. ...  2015-기본영어-천재(강)
294  A: 오늘 조금 일찍 퇴근해도 될까요? B: 작업이 완료된다면 괜찮아요. A: 제가...  2015-기본영어-천재(강)
295  A: 저녁 식사 후 자전거 타는 건 어때? B: 멋진데, 해보자! A: 공원 길로 ...  2015-기본영어-천재(강)
296  A: 경기에서 무슨 일이 일어날지 궁금해. B: 나는 최종 점수가 어떻게 될지 궁금...  2015-기본영어-천재(강)
297  A: 떠나기 전에 꼭 문을 잠가. B: 난 항상 두 번 확인해. A: 그리고 잊지 ...  2015-기본영어-천재(강)
460  A: 공원에서 자전거 타는 것이 에너지를 북돋워요. B: 소설을 읽는 것이 마음을 ...  2015-기본영어-천재(강)
461  A: 박물관이 어디에 있는지 알려주실 수 있어요? B: 저는 카페가 어디에 있는지 ...  2015-기본영어-천재(강)
462  A: 이 노트북은 데스크탑보다 훨씬 얇아요. B: 맞아요, 태블릿보다 더 신뢰할 만...  2015-기본영어-천재(강)
463  A: 편지는 우체국 직원에게 배달되었어요? B: 네, 제시간에 배달되었어요. A: ...  2015-기본문어-천재(강)
464  A: 제가 지난 주에 당신이 작성한 편지를 보냈어요. B: 제가 일요일에 당신이 선...  2015-기본영어-천재(강)

    textbook ID
134        <NA>
135        <NA>
136        <NA>
137        <NA>
138        <NA>
293        <NA>
294        <NA>
295        <NA>
296        <NA>
297        <NA>
460        <NA>
461        <NA>
462        <NA>
463        <NA>
464        <NA>

[15 rows x 30 columns]

# 비상 작업

In [231]:
merged_df.to_csv("High_ID.csv",encoding="utf-8-sig")