# 커리큘럼과 quiz 합치기

In [1]:
import pandas as pd

# 경로 확인
file_path1 = 'PreviewQuiz_Mid1.csv'
file_path2 = 'PreviewQuiz_Mid2.csv'
file_path3 = 'PreviewQuiz_Mid3.csv'

# 파일 읽기
df_quiz1 = pd.read_csv(file_path1)
df_quiz2 = pd.read_csv(file_path2)
df_quiz3 = pd.read_csv(file_path3)

# 인덱스 초기화
df_quiz1 = df_quiz1.reset_index()
df_quiz2 = df_quiz2.reset_index()
df_quiz3 = df_quiz3.reset_index()


# 파일 크기 확인
print(f'quiz1 : {len(df_quiz1)}')
print(f'quiz2 : {len(df_quiz2)}')
print(f'quiz3 : {len(df_quiz3)}')
print(f'총 data 길이 : {len(df_quiz1) + len(df_quiz2) + len(df_quiz3)}')

# na값
print(f'quiz1 na값: {df_quiz1.isna().sum().sum()}')
print(f'quiz2 na값: {df_quiz2.isna().sum().sum()}')
print(f'quiz3 na값: {df_quiz3.isna().sum().sum()}')

quiz1 : 208
quiz2 : 144
quiz3 : 142
총 data 길이 : 494
quiz1 na값: 0
quiz2 na값: 0
quiz3 na값: 0

In [2]:
df_function = pd.read_csv('../../../DB/Extract_Mid.csv')
df_function.head(3)

df_function_Mid1 = df_function.loc[df_function['학년'] == '중1']
df_function_Mid2 = df_function.loc[df_function['학년'] == '중2']
df_function_Mid3 = df_function.loc[df_function['학년'] == '중3']

# 인덱스 초기화
df_function_Mid1 = df_function_Mid1.reset_index()
df_function_Mid2 = df_function_Mid2.reset_index()
df_function_Mid3 = df_function_Mid3.reset_index()

# 파일 크기 확인
print(f'df_function1 : {len(df_function_Mid1)}')
print(f'df_function2 : {len(df_function_Mid2)}')
print(f'df_function3 : {len(df_function_Mid3)}')
print(f'총 data 길이 : {len(df_function_Mid1) + len(df_function_Mid2) + len(df_function_Mid3)}')

# na값
print(f'quiz1 na값: {df_function_Mid1.isna().sum().sum()}')
print(f'quiz2 na값: {df_function_Mid2.isna().sum().sum()}')
print(f'quiz3 na값: {df_function_Mid3.isna().sum().sum()}')

df_function1 : 208
df_function2 : 144
df_function3 : 142
총 data 길이 : 494
quiz1 na값: 0
quiz2 na값: 0
quiz3 na값: 0

In [3]:
# final_Mid1_data = df_function_Mid1.join(df_quiz1)
# final_Mid2_data = df_function_Mid2.join(df_quiz2)
# final_Mid3_data = df_function_Mid3.join(df_quiz3)

# # 파일 크기 확인
# print(f'final_Mid1_data : {len(final_Mid1_data)}')
# print(f'final_Mid2_data : {len(final_Mid2_data)}')
# print(f'final_Mid3_data : {len(final_Mid3_data)}')
# print(f'총 data 길이 : {len(final_Mid1_data) + len(final_Mid2_data) + len(final_Mid3_data)}')

In [4]:
final_Mid1_data = pd.concat([df_function_Mid1, df_quiz1], axis=1)
final_Mid2_data = pd.concat([df_function_Mid2, df_quiz2], axis=1)
final_Mid3_data = pd.concat([df_function_Mid3, df_quiz3], axis=1)

# 파일 크기 확인
print(f'final_Mid1_data : {len(final_Mid1_data)}')
print(f'final_Mid2_data : {len(final_Mid2_data)}')
print(f'final_Mid3_data : {len(final_Mid3_data)}')
print(f'총 data 길이 : {len(final_Mid1_data) + len(final_Mid2_data) + len(final_Mid3_data)}')

# na값
print(f'final_Mid1_data: {final_Mid1_data.isna().sum().sum()}')
print(f'final_Mid2_data: {final_Mid2_data.isna().sum().sum()}')
print(f'final_Mid3_data: {final_Mid3_data.isna().sum().sum()}')

final_Mid1_data : 208
final_Mid2_data : 144
final_Mid3_data : 142
총 data 길이 : 494
final_Mid1_data: 0
final_Mid2_data: 0
final_Mid3_data: 0

In [5]:
function_final_Mid = pd.concat([final_Mid1_data, final_Mid2_data, final_Mid3_data], axis=0)
print(len(function_final_Mid))
function_final_Mid.head(3)

494

,index,Unnamed: 0,textbook ID,학년,출판사,교육과정,Lesson,Title,DESCRIPTION,KEY_EXPRESSION,...,Index 1,Quiz 2,Korean 2,Option 2-1,Option 2-2,Option 2-3,Answer 2,Index 2,샘플 스크립트 (영어),샘플 스크립트 (한국어)
0,0,0,701,중1,능률(김),2015,1,Welcome to My World,"자기소개와 출신지에 대해 말하고, 이에 반응하기.\n",A: My name is Felix. I’m from Australia.\nB: G...,...,2,"A: Hi, I’m Sam. I ____ from Korea. B: Nice to ...","A: 안녕, 나는 Sam이야. 나는 Korea에서 왔어. B: 만나서 반가워.",live,come,am,come,2,A: My name is Leo. I’m from Canada. B: Pleased...,A: 내 이름은 Leo야. 나는 Canada 출신이야. B: 만나서 반가워. A: ...
1,1,1,701,중1,능률(김),2015,2,Discover Your Culture,be going to ()를 활용해 계획이나 예정된 일에 대해 묻고 답하기.\n,A: What are you going to do on your holiday?\n...,...,2,A: What are your plans for ____?,A: 휴일에 어떤 계획이 있니?,celebration,holiday,festival,holiday,2,A: What are you going to do next weekend? B: I...,A: 다음 주말에 뭐 할 거야? B: 영화 보러 갈 거야. A: 주말에 어떤 계획이...
2,2,2,701,중1,능률(김),2015,3,"Spend Smart, Save Smart",You should ()를 활용해 조언하기.\n,"A: You should study harder.\nB: Okay, I’ll try.\n",...,1,A: It’s a good idea to ______. B: I’ll give it...,A: ~하는 것이 좋은 생각이야. B: 한 번 해볼게.,run fast,study harder,eat quickly,study harder,2,"A: You should exercise regularly. B: Okay, I'l...","A: 너는 규칙적으로 운동해야 해. B: 알겠어, 노력해볼게. A: 균형 잡힌 식단..."

In [6]:
len(function_final_Mid)

494

In [7]:
# function_final_Mid.drop(columns='Unnamed: 0', axis=1, inplace=True)
# function_final_Mid.columns

In [8]:
function_final_Mid.isna().sum().sum()

0

In [9]:
nan_rows = function_final_Mid[function_final_Mid.isna().any(axis=1)]
print(nan_rows)

Empty DataFrame
Columns: [index, Unnamed: 0, textbook ID, 학년, 출판사, 교육과정, Lesson, Title, DESCRIPTION, KEY_EXPRESSION, KEY_EXPRESSION_KOR, SUB_EXPRESSION, index, 학습목표, Quiz 1, Korean 1, Option 1-1, Option 1-2, Option 1-3, Answer 1, Index 1, Quiz 2, Korean 2, Option 2-1, Option 2-2, Option 2-3, Answer 2, Index 2, 샘플 스크립트 (영어), 샘플 스크립트 (한국어)]
Index: []

[0 rows x 30 columns]

In [10]:
drop_col = ['index', 'Unnamed: 0']
function_final_Mid.drop(columns=drop_col, index=1, inplace=True)
function_final_Mid.columns

Index(['textbook ID', '학년', '출판사', '교육과정', 'Lesson', 'Title', 'DESCRIPTION',
       'KEY_EXPRESSION', 'KEY_EXPRESSION_KOR', 'SUB_EXPRESSION', '학습목표',
       'Quiz 1', 'Korean 1', 'Option 1-1', 'Option 1-2', 'Option 1-3',
       'Answer 1', 'Index 1', 'Quiz 2', 'Korean 2', 'Option 2-1', 'Option 2-2',
       'Option 2-3', 'Answer 2', 'Index 2', '샘플 스크립트 (영어)', '샘플 스크립트 (한국어)'],
      dtype='object')

In [11]:
file_name = 'MergedData_Mid.csv'
function_final_Mid.to_csv(file_name, encoding='utf-8-sig')