In [306]:
import pandas as pd
import re

file = 'DB_Mid.csv'
data = pd.read_csv(file)
df = data.copy()
df.head(5)

,학년,출판사,교육과정,Lesson,Title,Functions (의사소통기능),Functions (의사소통기능).1,Structures (언어 형식),Structures (언어 형식).1,Structures (언어 형식).2,Functions Material 1,Functions Material 2,Functions Material 1\n수정,Functions Material 2\n수정
0,중1,능률(김),2015,1,Welcome to My World,소개하고 답하기\nA: My name is Mina. I'm from Korea.\...,좋아하는 것 묻고 답하기\nA: What is your favorite subjec...,be동사의 긍정문과 부정문\nHe is from France.\nShe is not...,일반동사의 긍정문과 부정문\nShe has a dog.\nI don't have a...,NaN,"[DESCRIPTION]\n자기소개와 출신지에 대해 말하고, 이에 반응하기.\n\n...",[DESCRIPTION]\nlike와 favorite 단어를 활용해 좋아하는 것에 ...,"[DESCRIPTION]\n자기소개와 출신지에 대해 말하고, 이에 반응하기.\n\n...",[DESCRIPTION]\nlike와 favorite 단어를 활용해 좋아하는 것에 ...
1,중1,능률(김),2015,2,Discover Your Culture,계획 묻고 답하기\nA: What are you going to do on your...,장소 설명하기\nThere are many wonderful places in Ko...,현재진행형\nI'm enjoying my trip to Korea.,"조동사 can, will\nYou can learn about Korea from ...",NaN,[DESCRIPTION]\nbe going to ()를 활용해 계획이나 예정된 일에...,[DESCRIPTION]\nThere is/are ()을 활용하여 장소 설명하기 #...,[DESCRIPTION]\nbe going to ()를 활용해 계획이나 예정된 일에...,[DESCRIPTION]\nThere is/are ()을 활용하여 장소 설명하기.\...
2,중1,능률(김),2015,3,"Spend Smart, Save Smart",조언하기\nA: You should keep a spending diary.\nB:...,허락 요청하고 답하기\nA: Can I try on this shirt?\nB: Y...,동사의 과거형 \nWe sold many things at the flea market.,동사의 목적어로 쓰이는 Ving\nPeople enjoyed looking at t...,NaN,[DESCRIPTION]\nYou should ()를 활용해 조언하기.\n\n[KE...,[DESCRIPTION]\nCan I ()?를 활용해 허락을 요청하고 답하기.\n\...,[DESCRIPTION]\nYou should ()를 활용해 조언하기.\n\n[KE...,[DESCRIPTION]\nCan I ()?를 활용해 허락을 요청하고 답하기.\n\...
3,중1,능률(김),2015,4,The Power of Ideas,동의하기·이의 제기하기\nA: This movie is boring.\nB: I t...,이유 묻고 답하기\nA: Why do you use this computer?\nB...,목적어를 두 개 갖는 동사\nThis story teaches us an impor...,to부정사를 목적어로 갖는 동사\nDo you want to find out new...,NaN,[DESCRIPTION]\n의견에 동의하거나 반대 표현하기.\n\n[KEY_EXPR...,[DESCRIPTION]\nWhy와 because를 활용해 이유 묻고 답하기.\n\...,[DESCRIPTION]\n의견에 동의하거나 반대 표현하기.\n\n[KEY_EXPR...,[DESCRIPTION]\nWhy와 because를 활용해 이유 묻고 답하기.\n\...
4,중1,능률(김),2015,5,Follow Your Dreams,소망 말하기\nI want to be a scientist.,격려하기\nDon't worry. You'll do fine.,"비교급, 최상급 \nThe other team's players ran faster...",접속사 that\nMany people said that it was impossi...,NaN,[DESCRIPTION]\nwant to ()를 활용 미래에 대한 소망을 표현하기....,[DESCRIPTION]\n긍정적인 말을 통해 격려하기.\n\n[KEY_EXPRES...,[DESCRIPTION]\nwant to ()를 활용 미래에 대한 소망을 표현하기....,[DESCRIPTION]\n긍정적인 말을 통해 격려하기.\n\n[KEY_EXPRES...

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   학년                       250 non-null    object
 1   출판사                      250 non-null    object
 2   교육과정                     250 non-null    int64
 3   Lesson                   250 non-null    object
 4   Title                    250 non-null    object
 5   Functions (의사소통기능)       247 non-null    object
 6   Functions (의사소통기능).1     246 non-null    object
 7   Structures (언어 형식)       247 non-null    object
 8   Structures (언어 형식).1     244 non-null    object
 9   Structures (언어 형식).2     2 non-null      object
 10  Functions Material 1     247 non-null    object
 11  Functions Material 2     247 non-null    object
 12  Functions Material 1
수정  247 non-null    object
 13  Functions Material 2
수정  247 non-null    object
dtypes: int64(1), object(13)
memory usage: 27.5+ KB

In [308]:
df.columns

Index(['학년', '출판사', '교육과정', 'Lesson', 'Title', 'Functions (의사소통기능)',
       'Functions (의사소통기능).1', 'Structures (언어 형식)', 'Structures (언어 형식).1',
       'Structures (언어 형식).2', 'Functions Material 1', 'Functions Material 2',
       'Functions Material 1\n수정', 'Functions Material 2\n수정'],
      dtype='object')

In [309]:
drop_col = ['Functions (의사소통기능)','Functions (의사소통기능).1', 'Structures (언어 형식)', 'Structures (언어 형식).1','Structures (언어 형식).2', 'Functions Material 1', 'Functions Material 2',]
df.drop(labels=drop_col, axis=1,inplace=True)
df.rename(columns={
    'Functions Material 1\n수정': 'Functions Material 1',
    'Functions Material 2\n수정': 'Functions Material 2'
}, inplace=True)
df.head(3)

,학년,출판사,교육과정,Lesson,Title,Functions Material 1,Functions Material 2
0,중1,능률(김),2015,1,Welcome to My World,"[DESCRIPTION]\n자기소개와 출신지에 대해 말하고, 이에 반응하기.\n\n...",[DESCRIPTION]\nlike와 favorite 단어를 활용해 좋아하는 것에 ...
1,중1,능률(김),2015,2,Discover Your Culture,[DESCRIPTION]\nbe going to ()를 활용해 계획이나 예정된 일에...,[DESCRIPTION]\nThere is/are ()을 활용하여 장소 설명하기.\...
2,중1,능률(김),2015,3,"Spend Smart, Save Smart",[DESCRIPTION]\nYou should ()를 활용해 조언하기.\n\n[KE...,[DESCRIPTION]\nCan I ()?를 활용해 허락을 요청하고 답하기.\n\...

In [310]:
df = pd.melt(df,
             id_vars=['학년', '출판사', '교육과정', 'Lesson', 'Title'],
             value_vars=['Functions Material 1', 'Functions Material 2'],
             var_name='Functions Material', 
             value_name='Material')
display(df)

,학년,출판사,교육과정,Lesson,Title,Functions Material,Material
0,중1,능률(김),2015,1,Welcome to My World,Functions Material 1,"[DESCRIPTION]\n자기소개와 출신지에 대해 말하고, 이에 반응하기.\n\n..."
1,중1,능률(김),2015,2,Discover Your Culture,Functions Material 1,[DESCRIPTION]\nbe going to ()를 활용해 계획이나 예정된 일에...
2,중1,능률(김),2015,3,"Spend Smart, Save Smart",Functions Material 1,[DESCRIPTION]\nYou should ()를 활용해 조언하기.\n\n[KE...
3,중1,능률(김),2015,4,The Power of Ideas,Functions Material 1,[DESCRIPTION]\n의견에 동의하거나 반대 표현하기.\n\n[KEY_EXPR...
4,중1,능률(김),2015,5,Follow Your Dreams,Functions Material 1,[DESCRIPTION]\nwant to ()를 활용 미래에 대한 소망을 표현하기....
...,...,...,...,...,...,...,...
495,중3,YBM(송),2015,4,Safety First,Functions Material 2,[DESCRIPTION]\n조동사를 활용해 가능성 정도 표현하기.\n\n[KEY_E...
496,중3,YBM(송),2015,5,Look Inside You,Functions Material 2,[DESCRIPTION]\nAre there any other ~ 를 활용해 대안 ...
497,중3,YBM(송),2015,6,Buy and Sell Wisely,Functions Material 2,"[DESCRIPTION]\nI'm sorry, I'm afraid 를 활용해 제안,..."
498,중3,YBM(송),2015,7,"Small Ideas, Big Differences",Functions Material 2,[DESCRIPTION]\n다양한 표현을 활용해 생각할 시간 요청하기.\n\n[KE...
499,중3,YBM(송),2015,8,Healthy Food Around the World,Functions Material 2,[DESCRIPTION]\nrecommend ~ 를 활용해 추천하기.\n\n[KEY...

In [311]:
df['Functions Material'].value_counts()

Functions Material
Functions Material 1    250
Functions Material 2    250
Name: count, dtype: int64

In [312]:
df[df.isna().any(axis=1)]

,학년,출판사,교육과정,Lesson,Title,Functions Material,Material
7,중1,능률(김),2015,8,The Best Way to Win,Functions Material 1,NaN
15,중2,능률(김),2015,8,Who is Happy?,Functions Material 1,NaN
23,중3,능률(김),2015,Project,Which Is the Best Way?,Functions Material 1,NaN
257,중1,능률(김),2015,8,The Best Way to Win,Functions Material 2,NaN
265,중2,능률(김),2015,8,Who is Happy?,Functions Material 2,NaN
273,중3,능률(김),2015,Project,Which Is the Best Way?,Functions Material 2,NaN

In [313]:
df.dropna(axis=0, inplace=True)

In [314]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [학년, 출판사, 교육과정, Lesson, Title, Functions Material, Material]
Index: []

In [315]:
type(df['Material'].str.split('[DESCRIPTION]'))

pandas.core.series.Series

In [316]:
description = df['Material'].str.split('\n')
description

0      [[DESCRIPTION], 자기소개와 출신지에 대해 말하고, 이에 반응하기., ,...
1      [[DESCRIPTION], be going to ()를 활용해 계획이나 예정된 일...
2      [[DESCRIPTION], You should ()를 활용해 조언하기., , [K...
3      [[DESCRIPTION], 의견에 동의하거나 반대 표현하기., , [KEY_EXP...
4      [[DESCRIPTION], want to ()를 활용 미래에 대한 소망을 표현하기...
                             ...
495    [[DESCRIPTION], 조동사를 활용해 가능성 정도 표현하기., , [KEY_...
496    [[DESCRIPTION], Are there any other ~ 를 활용해 대안...
497    [[DESCRIPTION], I'm sorry, I'm afraid 를 활용해 제안...
498    [[DESCRIPTION], 다양한 표현을 활용해 생각할 시간 요청하기., , [K...
499    [[DESCRIPTION], recommend ~ 를 활용해 추천하기., , [KE...
Name: Material, Length: 494, dtype: object

In [317]:
description = df['Material'].str.split('\n')
# type(description[0])
description[:10]

0     [[DESCRIPTION], 자기소개와 출신지에 대해 말하고, 이에 반응하기., ,...
1     [[DESCRIPTION], be going to ()를 활용해 계획이나 예정된 일...
2     [[DESCRIPTION], You should ()를 활용해 조언하기., , [K...
3     [[DESCRIPTION], 의견에 동의하거나 반대 표현하기., , [KEY_EXP...
4     [[DESCRIPTION], want to ()를 활용 미래에 대한 소망을 표현하기...
5     [[DESCRIPTION], What do you think of ()?를 활용해 ...
6     [, [DESCRIPTION], Why don’t you ()?를 활용해 권유 표현...
8     [[DESCRIPTION], be interested in을 활용해 관심사 묻고 답...
9     [[DESCRIPTION], 'd better ()를 활용해 충고하기., , [KE...
10    [[DESCRIPTION], 현재완료 시제 have ()를 활용해 경험 묻고 답하기...
Name: Material, dtype: object

In [318]:
def split_material(material):
    result = {
        'DESCRIPTION': '',
        'KEY_EXPRESSION': '',
        'KEY_EXPRESSION_KOR': '',
        'SUB_EXPRESSION': ''
    }
    
    current = None
    for line in material:
        line = line.strip()
    
        if '[DESCRIPTION]' in line:
            current = 'DESCRIPTION'
        elif '[KEY_EXPRESSION]' in line:
            current = 'KEY_EXPRESSION'
        elif '[KEY_EXPRESSION_KOR]' in line:
            current = 'KEY_EXPRESSION_KOR'
        elif '[SUB_EXPRESSION]' in line:
            current = 'SUB_EXPRESSION'
        elif line:  # 빈 줄이 아니면 현재 항목에 내용 추가
            if current:
                result[current] += line + ' '

    return result

In [319]:
df['DESCRIPTION'] = ''
df['KEY_EXPRESSION'] = ''
df['KEY_EXPRESSION_KOR'] = ''
df['SUB_EXPRESSION'] = ''

for i, row in df.iterrows():
    raw = split_material(description[i])
    df.at[i, 'DESCRIPTION'] = raw['DESCRIPTION']
    df.at[i, 'KEY_EXPRESSION'] = raw['KEY_EXPRESSION']
    df.at[i, 'KEY_EXPRESSION_KOR'] = raw['KEY_EXPRESSION_KOR']
    df.at[i, 'SUB_EXPRESSION'] = raw['SUB_EXPRESSION']

df.head(3)

,학년,출판사,교육과정,Lesson,Title,Functions Material,Material,DESCRIPTION,KEY_EXPRESSION,KEY_EXPRESSION_KOR,SUB_EXPRESSION
0,중1,능률(김),2015,1,Welcome to My World,Functions Material 1,"[DESCRIPTION]\n자기소개와 출신지에 대해 말하고, 이에 반응하기.\n\n...","자기소개와 출신지에 대해 말하고, 이에 반응하기.",A: My name is Felix. I’m from Australia. B: Gl...,A: 내 이름은 필릭스야. 나는 호주에서 왔어. B: 만나서 반가워.,"A: Hi, I’m (). I come from (). B: Nice to meet..."
1,중1,능률(김),2015,2,Discover Your Culture,Functions Material 1,[DESCRIPTION]\nbe going to ()를 활용해 계획이나 예정된 일에...,be going to ()를 활용해 계획이나 예정된 일에 대해 묻고 답하기.,A: What are you going to do on your holiday? B...,A: 너는 휴가 때 무엇을 할 예정이야? B: 나는 여행을 갈 예정이야.,A: What are your plans for ()? B: I’m planning...
2,중1,능률(김),2015,3,"Spend Smart, Save Smart",Functions Material 1,[DESCRIPTION]\nYou should ()를 활용해 조언하기.\n\n[KE...,You should ()를 활용해 조언하기.,"A: You should study harder. B: Okay, I’ll try.","A: 너는 더 열심히 공부해야 해. B: 알겠어, 노력할게.",A: It’s a good idea to (). B: I’ll give it a s...

In [320]:
df = df.reset_index(drop=True)
df.head(10)

,학년,출판사,교육과정,Lesson,Title,Functions Material,Material,DESCRIPTION,KEY_EXPRESSION,KEY_EXPRESSION_KOR,SUB_EXPRESSION
0,중1,능률(김),2015,1,Welcome to My World,Functions Material 1,"[DESCRIPTION]\n자기소개와 출신지에 대해 말하고, 이에 반응하기.\n\n...","자기소개와 출신지에 대해 말하고, 이에 반응하기.",A: My name is Felix. I’m from Australia. B: Gl...,A: 내 이름은 필릭스야. 나는 호주에서 왔어. B: 만나서 반가워.,"A: Hi, I’m (). I come from (). B: Nice to meet..."
1,중1,능률(김),2015,2,Discover Your Culture,Functions Material 1,[DESCRIPTION]\nbe going to ()를 활용해 계획이나 예정된 일에...,be going to ()를 활용해 계획이나 예정된 일에 대해 묻고 답하기.,A: What are you going to do on your holiday? B...,A: 너는 휴가 때 무엇을 할 예정이야? B: 나는 여행을 갈 예정이야.,A: What are your plans for ()? B: I’m planning...
2,중1,능률(김),2015,3,"Spend Smart, Save Smart",Functions Material 1,[DESCRIPTION]\nYou should ()를 활용해 조언하기.\n\n[KE...,You should ()를 활용해 조언하기.,"A: You should study harder. B: Okay, I’ll try.","A: 너는 더 열심히 공부해야 해. B: 알겠어, 노력할게.",A: It’s a good idea to (). B: I’ll give it a s...
3,중1,능률(김),2015,4,The Power of Ideas,Functions Material 1,[DESCRIPTION]\n의견에 동의하거나 반대 표현하기.\n\n[KEY_EXPR...,의견에 동의하거나 반대 표현하기.,"A: This idea is great. B: I think so, too. / I...",A: 이 아이디어는 정말 좋아. B: 나도 그렇게 생각해. / 난 그렇게 생각하지 ...,A: This () feels (). B: I agree. () / I disagr...
4,중1,능률(김),2015,5,Follow Your Dreams,Functions Material 1,[DESCRIPTION]\nwant to ()를 활용 미래에 대한 소망을 표현하기....,want to ()를 활용 미래에 대한 소망을 표현하기.,I want to be a doctor.,나는 의사가 되고 싶어.,My dream is to become (). I hope to be ().
5,중1,능률(김),2015,6,The Joy of Art,Functions Material 1,[DESCRIPTION]\nWhat do you think of ()?를 활용해 의...,What do you think of ()?를 활용해 의견을 묻고 답하기.,A: What do you think of this movie? B: I think...,A: 이 영화에 대해 어떻게 생각해? B: 나는 정말 놀랍다고 생각해.,A: How do you feel about ()? B: I feel it’s ()...
6,중1,능률(김),2015,7,Time for Stories,Functions Material 1,\n[DESCRIPTION]\nWhy don’t you ()?를 활용해 권유 표현하...,Why don’t you ()?를 활용해 권유 표현하기.,Why don’t you try this restaurant?,이 레스토랑을 한번 가보는 게 어때?,How about ()? You should try ().
7,중2,능률(김),2015,1,Express Yourself,Functions Material 1,[DESCRIPTION]\nbe interested in을 활용해 관심사 묻고 답하...,be interested in을 활용해 관심사 묻고 답하기.,A: What are you interested in? B: I’m interest...,A: 너는 무엇에 관심이 있어? B: 나는 사진 촬영에 관심이 있어.,A: What do you like? B: I like (). A: What is ...
8,중2,능률(김),2015,2,"Eat Right, Be Happy",Functions Material 1,[DESCRIPTION]\n'd better ()를 활용해 충고하기.\n\n[KEY...,'d better ()를 활용해 충고하기.,You’d better take an umbrella.,너는 우산을 챙기는 게 좋겠어.,You should (). It’s a good idea to ().
9,중2,능률(김),2015,3,Understand the World,Functions Material 1,[DESCRIPTION]\n현재완료 시제 have ()를 활용해 경험 묻고 답하기....,현재완료 시제 have ()를 활용해 경험 묻고 답하기.,"A: Have you ever traveled abroad? B: Yes, I ha...","A: 너 해외여행 해본 적 있어? B: 응, 해봤어. / 아니, 안 해봤어.","A: Have you tried ()? B: Yes, I have. / No, I ..."

In [321]:
drop_col = ['Functions Material','Material']
df.drop(columns=drop_col, axis=1, inplace=True)
df.head(3)

,학년,출판사,교육과정,Lesson,Title,DESCRIPTION,KEY_EXPRESSION,KEY_EXPRESSION_KOR,SUB_EXPRESSION
0,중1,능률(김),2015,1,Welcome to My World,"자기소개와 출신지에 대해 말하고, 이에 반응하기.",A: My name is Felix. I’m from Australia. B: Gl...,A: 내 이름은 필릭스야. 나는 호주에서 왔어. B: 만나서 반가워.,"A: Hi, I’m (). I come from (). B: Nice to meet..."
1,중1,능률(김),2015,2,Discover Your Culture,be going to ()를 활용해 계획이나 예정된 일에 대해 묻고 답하기.,A: What are you going to do on your holiday? B...,A: 너는 휴가 때 무엇을 할 예정이야? B: 나는 여행을 갈 예정이야.,A: What are your plans for ()? B: I’m planning...
2,중1,능률(김),2015,3,"Spend Smart, Save Smart",You should ()를 활용해 조언하기.,"A: You should study harder. B: Okay, I’ll try.","A: 너는 더 열심히 공부해야 해. B: 알겠어, 노력할게.",A: It’s a good idea to (). B: I’ll give it a s...

## TEXT ID

In [322]:
id = pd.read_csv('Text_ID.csv')
id.columns
drop_col = ['구분','교과서 확보', '어휘 자료','function', 'structure', 'Issue']
id.drop(columns=drop_col, inplace=True)
id['학년 정보'] = id['학년 정보'].astype(str).replace('영어', '', regex=True)
id.rename(columns={
    '학년 정보': '학년',
    '개정 정보': '교육과정'
}, inplace=True)
display(id)

    textbook ID   학년  교육과정        출판사
0           301  초3   2015   천재 (함순애)
1           302  초3   2015  YBM (김혜리)
2           303  초3   2015  YBM (최은경)
3           304  초3   2015         동아
4           305  초3   2015      아이스크림
..          ...  ...   ...        ...
88          905  중3   2015   비상 (김진완)
89          906  중3   2015   천재 (이재영)
90          907  중3   2015   천재 (정사열)
91          908  중3   2015  YBM (박준언)
92          909  중3   2015  YBM (송미정)

[93 rows x 4 columns]

In [323]:
# 변환 함수 정의
def modify_publisher(name):
    if "(" in name and ")" in name:  # 저자 이름이 있는 경우만 처리
        parts = name.split("(")  # 괄호를 기준으로 분리
        publisher = parts[0].strip()  # 출판사 이름
        author_initial = parts[1][0]  # 저자의 첫 글자만 추출
        return f"{publisher}({author_initial})"
    return name  # 저자가 없는 경우 그대로 반환

# 데이터 변환 적용
id["출판사"] = id["출판사"].apply(modify_publisher)

In [324]:
id['출판사'] = id['출판사'].replace('비상(김)','비상')

In [336]:
id['출판사'].value_counts()

출판사
천재(함)      8
천재(이)      8
YBM(김)     7
YBM(최)     6
동아         6
아이스크림      6
미래엔        6
능률(김)      4
YBM(박)     4
동아(이)      4
동아(윤)      4
천재(김)      4
능률(양)      3
비상         3
천재(정)      3
YBM(송)     3
시사(최)      2
대교(이)      2
동아(박)      2
금성(최)      1
다락원(강)     1
미래(최)      1
지학사(민)     1
천재(소)      1
미래엔(문)     1
비상교육(황)    1
지학사(송)     1
Name: count, dtype: int64

In [326]:
id.head(-5)

    textbook ID   학년  교육과정     출판사
0           301  초3   2015   천재(함)
1           302  초3   2015  YBM(김)
2           303  초3   2015  YBM(최)
3           304  초3   2015      동아
4           305  초3   2015   아이스크림
..          ...  ...   ...     ...
83          809  중2   2015  YBM(송)
84          901  중3   2015   능률(김)
85          902  중3   2015   능률(양)
86          903  중3   2015   동아(윤)
87          904  중3   2015   동아(이)

[88 rows x 4 columns]

In [327]:
id['학년'].value_counts()

학년
중1     23
초3     14
초4     14
초5     12
초6     12
중2      9
중3      9
Name: count, dtype: int64

In [328]:
id.head(-1)

    textbook ID   학년  교육과정     출판사
0           301  초3   2015   천재(함)
1           302  초3   2015  YBM(김)
2           303  초3   2015  YBM(최)
3           304  초3   2015      동아
4           305  초3   2015   아이스크림
..          ...  ...   ...     ...
87          904  중3   2015   동아(이)
88          905  중3   2015      비상
89          906  중3   2015   천재(이)
90          907  중3   2015   천재(정)
91          908  중3   2015  YBM(박)

[92 rows x 4 columns]

In [329]:
id['학년'] = id['학년'].str.strip()  # 공백 제거

In [330]:
id.loc[id['학년'] == '중1']

    textbook ID  학년  교육과정      출판사
52          701  중1  2015    능률(김)
53          702  중1  2015    능률(양)
54          703  중1  2015    동아(윤)
55          704  중1  2015    동아(이)
56          705  중1  2015       비상
57          706  중1  2015    천재(이)
58          707  중1  2015    천재(정)
59          708  중1  2015   YBM(박)
60          709  중1  2015   YBM(송)
61          710  중1  2015    금성(최)
62          711  중1  2015   다락원(강)
63          712  중1  2015    미래(최)
64          713  중1  2015   지학사(민)
65          714  중1  2022    능률(김)
66          715  중1  2022    동아(윤)
67          716  중1  2022    동아(이)
68          717  중1  2022    천재(소)
69          718  중1  2022    천재(이)
70          719  중1  2022   YBM(김)
71          720  중1  2022   YBM(박)
72          721  중1  2022   미래엔(문)
73          722  중1  2022  비상교육(황)
74          723  중1  2022   지학사(송)

In [331]:
filtered_data = id.loc[id['학년'].isin(['중1', '중2', '중3'])]
filtered_data.head()

    textbook ID  학년  교육과정    출판사
52          701  중1  2015  능률(김)
53          702  중1  2015  능률(양)
54          703  중1  2015  동아(윤)
55          704  중1  2015  동아(이)
56          705  중1  2015     비상

## 데이터 합치기

In [332]:
merged_data = df.merge(id, on=["학년", "출판사", "교육과정"], how="left")
merged_data = merged_data[["textbook ID"] + [col for col in merged_data.columns if col != "textbook ID"]]
merged_data['textbook ID'] = merged_data['textbook ID'].astype(int)

In [334]:
merged_data.head()

,textbook ID,학년,출판사,교육과정,Lesson,Title,DESCRIPTION,KEY_EXPRESSION,KEY_EXPRESSION_KOR,SUB_EXPRESSION
0,701,중1,능률(김),2015,1,Welcome to My World,"자기소개와 출신지에 대해 말하고, 이에 반응하기.",A: My name is Felix. I’m from Australia. B: Gl...,A: 내 이름은 필릭스야. 나는 호주에서 왔어. B: 만나서 반가워.,"A: Hi, I’m (). I come from (). B: Nice to meet..."
1,701,중1,능률(김),2015,2,Discover Your Culture,be going to ()를 활용해 계획이나 예정된 일에 대해 묻고 답하기.,A: What are you going to do on your holiday? B...,A: 너는 휴가 때 무엇을 할 예정이야? B: 나는 여행을 갈 예정이야.,A: What are your plans for ()? B: I’m planning...
2,701,중1,능률(김),2015,3,"Spend Smart, Save Smart",You should ()를 활용해 조언하기.,"A: You should study harder. B: Okay, I’ll try.","A: 너는 더 열심히 공부해야 해. B: 알겠어, 노력할게.",A: It’s a good idea to (). B: I’ll give it a s...
3,701,중1,능률(김),2015,4,The Power of Ideas,의견에 동의하거나 반대 표현하기.,"A: This idea is great. B: I think so, too. / I...",A: 이 아이디어는 정말 좋아. B: 나도 그렇게 생각해. / 난 그렇게 생각하지 ...,A: This () feels (). B: I agree. () / I disagr...
4,701,중1,능률(김),2015,5,Follow Your Dreams,want to ()를 활용 미래에 대한 소망을 표현하기.,I want to be a doctor.,나는 의사가 되고 싶어.,My dream is to become (). I hope to be ().

In [337]:
file_name = 'Extract_Mid.csv'
merged_data.to_csv(file_name, encoding='utf-8-sig')