In [33]:
from openai import OpenAI
import pandas as pd
from getpass import getpass
from fuzzywuzzy import fuzz

In [6]:
openai_api_key = getpass("OEPNAI_API_KEY")

client = OpenAI(api_key=openai_api_key)

In [34]:
voca_index = pd.read_csv('Voca_Index.csv', skiprows=1)
voca_index.copy()
word_list = pd.read_csv('WordList_Mid.csv')
sample_word_list = word_list.loc[word_list['textbook ID'].isin([701])]

In [38]:
sample_word_list.head()

,textbook ID,레슨,단어,품사,PoS,뜻,예문,예문 해석
0,701,7,actually,부사,4,"실제로, 정말로","Actually, exercise can be good for your sleep.",운동은 실제로 숙면에 좋을 수 있다.
1,701,1,add,동사,1,"더하다, 추가하다",Can you add her name to the list?,그녀의 이름을 명단에 추가해 주시겠습니까?
2,701,3,advice,명사,2,"조언, 충고",I need your advice.,당신의 조언이 필요합니다.
3,701,7,amazing,형용사,3,"놀라운, 굉장한",His story was amazing.,그의 이야기는 놀라웠다.
4,701,3,arrive,동사,1,도착하다,We arrived at the airport on time.,우리는 제 시간에 공항에 도착했다.

In [39]:
sample_word_list['품사'].value_counts()

품사
명사            66
동사            46
형용사           30
부사            10
숙어/관용어         3
동사, 명사         2
대명사            1
전치사            1
명사,형용사         1
명사, 형용사        1
동사, 숙어/관용어     1
형용사, 명사        1
동사,숙어/관용어      1
명사, 동사         1
Name: count, dtype: int64

In [36]:
voca_index.columns
drop_cols = ['image ID','WordID(SoundID)', 'WordSymbol']
voca_index.drop(columns=drop_cols, inplace=True)
voca_index.head()

   voca NO   WordText WordMeaning  PoS  품사
0        1     accent          강세    2  명사
1        2     accent          억양    2  명사
2        3  advertise        광고하다    1  동사
3        4  advertize        광고하다    1  동사
4        5    airline         항공사    2  명사

In [40]:
voca_index['품사'].value_counts()

품사
명사     1318
동사     1060
형용사     372
부사       53
전치사      20
대명사      10
접속사       9
Name: count, dtype: int64